.top-section-wrap {
  background: url("../img/top-section-background.png") center no-repeat;
  background-size: cover;
}
.header {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 30px 10px;
}